<html>
    <head>
        <title>Posting!</title>
    </head>
    <body>
        <h1>게시글 개별 페이지</h1>
        <p>{{ post.postname }}</p>
        <p>{{ post.contents }}</p>
        <!-- 이미지 -->
        {% if post.mainphoto %}
            <img src="{{ post.mainphoto }}" alt="" height="600">
            <br>
        {% endif %} 
        <a href="/blog/">목록</a>
        {% if request.user == post.author %}
        <a href="{% url 'main:post_modify' post.pk %}" class="btn btn-sm btn-outline-secondary">수정</a>
        <a href="/blog/{{post.pk}}/remove">삭제</a>
        {% endif %}
    </body>
</html>